.debug{border:1px solid black; }
@media (min-width:1000px){
.flexParent{ display:flex;  flex-direction:row;
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: lightblue; }}
.sidebar{width: 300px;padding: 5px; text-align: center;}
.mainContent{flex:1 ; width: 100%;}
.details{color:green;}
.searchResult{text-align: center;
    display: inline-block;
    width: 120px;
    vertical-align: top;}

    table, th, td {
        border: 1px solid black;
      }
      
      table {
        width: 100%;
      }
      
      th {
        height: 120px;
      }
      

.details {
    flex-direction: row;
}
.transportDetails{
    
    border-color: blue;
    border-style: solid;
    text-align: center;
    height: auto;
}

.instructions {
    border-color: blue;
    border-style: solid;
    padding: 20px;
    text-align: left;
    height: auto;
}